<div class="flex h-screen justify-center items-center">
  <a href="/zawody">
    <div class="text-center font-semibold text-8xl text-transparent bg-clip-text bg-gradient-to-r hover:bg-gradient-to-l from-amber-500 to-orange-600">Chronotimex</div>
    <img src="/images/logo.png" alt="app logo">
  </a>
</div>